li  {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 2px;
}

li2{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 2px;
    font-weight: bold;

    color:#ddd;
    display: inline-block;
    padding-top: 6px;
	  float: right;
    text-decoration: underline;
    text-decoration-style: solid;

}

.container {
    left: 1.5%;
    width: 60px;
    height: 100px;
    position: absolute;
    margin: auto;
    padding-bottom: auto;
    text-align: center;
}

p {
  text-align: center;
  font-size: 20px;
  line-height: 0;
  letter-spacing: 0px;
}

body {
  margin: auto;
}

.header{
  height: 45px;
  width: auto;
	text-align: right;
	padding-right: 30;
	padding: 10 10 10 10;
	background-color:#222;
}
.block_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.block_list li {
    float: right;
}

.block_list .orient_left {
    float: left;
}

.block_list a {
	color:#ddd;
    display: inline-block;
    padding: 6px;
	margin-right:10;
	text-decoration: none;
}

li.exp_list  {
	font-size: 13px;
	color: #000;
	line-height: 18px;
	letter-spacing: 1px;

}

div.exp_section  {
/*  royal blue: #006BB6  	Golden Yellow: #FFC72D*/
	width: 500px;
	font-size: 26px;
	color: #000;
	padding-right: 80px;
	margin-right: 5px;
	float:right;
	line-height: 18px;
}

div.div_column {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, rgb(255, 199, 044)), color-stop(0.8, rgb(255,255,255)));
	background-image: -moz-linear-gradient(center bottom, rgb(14,173,173) 33%, rgb(0,255,255) 67% );
	border: 3px solid black;
	padding: 1em 0em 0em 1em;
}

div.div_columnAndy {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, rgb(85,37,130)), color-stop(0.8, rgb(255,255,255)));
	background-image: -moz-linear-gradient(center bottom, rgb(14,173,173) 33%, rgb(0,255,255) 67% );
	border: 3px solid black;
	padding: 1em 0em 0em 1em;
}
