
li  {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 2px;
  font-weight: bold;
}

li2{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 2px;
    font-weight: bold;

    color:#ddd;
    display: inline-block;
    padding-top: 6px;
	  float: right;
    text-decoration: underline;
    text-decoration-style: solid;

}

body {
  margin: auto;
}

.helloclass{
  margin: 0;
  text-align: center;
  width: 100%;
  min-height: 100px;
  float: left;
  background: url('../images/seoul_strip.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: white;
}

.helloclass h1{
  margin-top: 1%;
  font-family: 'Vollkorn SC', serif;
  margin-bottom: auto;
  font-size: 50px;
  padding: 40px;
}

.helloclass p1{
  font-size: 32px;
  font-family: 'Vollkorn SC', serif;
  line-height: 75px;
}

#mainsection{
  background-color: red;
  margin: 0;
}

#mainsection  .leftside{
  float: left;
  text-align: center;
  width: 50%;
  background-color: #b2b2ff;
  padding-bottom: 20px;
}

#mainsection  .rightside{
  float: left;
  text-align: center;
  width: 50%;
  background-color: #ccccff;
  padding-bottom: 20px;
}

#mainsection img{
  height: 200px;
  width: 180px;
  margin: auto;
  position: relative;
}

p {
  text-align: center;
  font-size: 20px;
  line-height: 0;
  letter-spacing: 0px;
}

.profile p3{
	text-align: center;
	font-size: 20px;
	line-height: 1.4;
	letter-spacing: 1px;

	display: block;
  margin-left: auto;
  margin-right: auto;
	position: relative;

	font-family:courier;

}

footer{
  min-width: 100%;
  float: left;
  padding: 20px;
  color: #ddd;
  background-color: #101010;
  text-align: center;
}



.text
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container {
    width: 200px;
    height: 120px;
	  background-color: #4CAF50; /*green*/
    margin: auto;
    padding-bottom: auto;

}

/***********************************************************/

.header{
  height: 45px;
  width: auto;
	text-align: right;
	padding-right: 30;
	padding: 10 10 10 10;
  background-color:#222;
}


.block_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.block_list li {
    float: right;
}

.block_list .orient_left {
    float: left;
}

.block_list a {
	color:#ddd;
  display: inline-block;
  padding: 6px;
	margin-right:10;
	text-decoration: none;
}

.block_list a:hover {
	text-decoration: underline;
}

/*********************************/
